{% extends "clothespress/base.html" %}

{% block menu %}index{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">修改衣服</h3>
            </div>
            <div class="panel-body">
                <div class="img">
                    <img src="{{ clothes.picPath }}" class="img-responsive">
                </div>
                <form role="form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label" for="clothesType">分类</label>
                        <select id="clothesType" name="clothesType" class="form-control">
                            {% for clothesType in clothesTypeList%}
                            <option value="{{ clothesType.id }}" {% if clothes.clothesTypeId == clothesType.id %}selected="selected"{% endif %}>{{ clothesType.typeName }}</option>
                            {% endfor %}
                        </select>
                        <label class="control-label" for="desc">描述</label>
                        <textarea id="desc" class="form-control" type="text" value="" name="desc">{{ clothes.remark }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">修改</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}